/*
Author: Jacob Jose
Date: May 15, 2023, 15:49.
Description: CSS stylesheet for 'Edition Tracker'.
*/

#matrixTable {
    text-align: center;
}

/*#matrixTable th,*/
/*#matrixTable td {*/
/*    text-align: center;*/
/*}*/

/*Styles for labels whose id starts with "labelEdition".*/
label[id^="labelEdition"] {
    color: #144879;
}

#tableUserInput {
    border: 1px solid black;
    /*background-color: #f2f2f2;*/
    padding-right: 10px;
    margin-right: 10px;
    text-align: right;
}

#tableSummaryHoldingAdvanced {
    text-align: left;
}

.divTableContainers{
    display: flex;
    flex: 1;
}

.tableHeader {
    text-align: center;
}

/*textarea {*/
/*    white-space: pre-wrap;*/
/*}*/

/*.table1, .table2 {*/

/*    margin-right: 10px; !* Adjust the spacing between tables if needed *!*/
/*}*/


body {
    background-color: #fffff0; /* Set background color */
}
