<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Jacob Jose">
    <title>Edition Tracker</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <h1>Edition Tracker</h1>
    <table id="tableUserInput">
        <form action="/postData" method="POST" id="formUserInput">
            <tr>
                <td><label for="txtTextEditionsType">Edition types:</label></td>
                <td><input type="text" id="txtTextEditionsType" name="editionsType" required placeholder="vol/ser/no" value="vol" ></td>
            </tr>
            <tr>
                <td><label for="txtNumberYearStarting">Starting Year:</label></td>
                <td><input type="text" id="txtNumberYearStarting" name="yearStarting" required placeholder="Earliest edition in Alma" value="2000" ></td>
                <td><label for="txtNumberYearEnding" class="right-align">End Year:</label></td>
                <td><input type="text" id="txtNumberYearEnding" name="yearEnding" required placeholder="Latest edition in Alma or 2020" value="2020" ></td>
            </tr>
            <tr>
                <td><label for="txtNumberVolumeStartingYear">Volume of starting year:</label></td>
                <td><input type="text" id="txtNumberVolumeStartingYear" name="volumeStartingYear" required placeholder="Volume of starting year" value="1" ></td>
                <td><label for="divRBMode" class="right-align" >Mode</label></td>
                <td>
                    <div id="divRBMode">
                        <label>
                            <input type="radio" name="rbMode" id="rbModeBasic" value="basic" checked>
                            Basic
                        </label>
                        <label>
                            <input type="radio" name="rbMode" id="rbModeAdvanced" value="advanced">
                            Advanced
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td><label for="txtNumberEditionsPerYear">Editions in a year:</label></td>
                <td><input type="text" id="txtNumberEditionsPerYear" name="editionsPerYear" required placeholder="Number of issues in a year" value="12" ></td>
            </tr>
        <tr>
            <td><button id="btnCreateTable">Create Table</button></td>
            <td><button id="btnClearAll" disabled="disabled">ClearAll</button></td>
            <td colspan="2">

                    <input type="hidden" id="arrayEditionDescription" name="arrayEditionDescription">
                    <input type="hidden" id="arrayEditionNumber" name="arrayEditionNumber">
                    <input type="hidden" id="arrayYear" name="arrayYear">
                    <input type="hidden" id="arrayAvailabilityStatusYear" name="arrayAvailabilityStatusYear">
                    <input type="hidden" id="arrayAvailabilityStatusIssuesOfEachYear" name="arrayAvailabilityStatusIssuesOfEachYear">

                    <button type="submit" id="btnGenerateSummary" disabled="disabled">Generate Summary</button>
        </form>
            </td>

        </tr>
    </table>

    <table id="tableSummaryHolding">
        <tr>
            <td colspan="2" class="tableHeader">
                Missing Editions
            </td>
            <td colspan="2" class="tableHeader" >
                Available Editions
            </td>
            <td rowspan="2" class="tableHeader" >
                Standard Summary Holdings
            </td>
        </tr>
        <tr>
            <td><label for="textAreaUnavailableEditionsWithoutYear">Without Year</label></td>
            <td><label for="textAreaUnavailableEditionsWithYear">With Year</label></td>
            <td><label for="textAreaAvailableEditionsWithYear" class="modeAdvanced" >With Year</label></td>
            <td><label for="textAreaAvailableEditionsWithoutYear" class="modeAdvanced" >Without Year</label></td>
        </tr>
        <tr>
            <td><textarea id="textAreaUnavailableEditionsWithoutYear" name="textAreaUnavailableEditionsWithoutYear" th:text="${textAreaUnavailableEditionsWithoutYear}"></textarea></td>
            <td><textarea id="textAreaUnavailableEditionsWithYear" name="textAreaUnavailableEditionsWithYear" class="modeAdvanced"  th:text="${textAreaUnavailableEditionsWithYear}"> </textarea></td>
            <td><textarea id="textAreaAvailableEditionsWithYear" name="textAreaAvailableEditionsWithYear" class="modeAdvanced" th:text="${textAreaAvailableEditionsWithYear}"> </textarea></td>
            <td><textarea id="textAreaAvailableEditionsWithoutYear" name="textAreaAvailableEditionsWithoutYear" class="modeAdvanced" th:text="${textAreaAvailableEditionsWithoutYear}"> </textarea></td>
            <td><textarea id="textAreaAvailableSummaryHolding" name="textAreaAvailableSummaryHolding" th:text="${textAreaAvailableSummaryHolding}"> </textarea></td>
        </tr>


    </table>


    <div id="divMatrix"></div>

    <script>
        main();
    </script>
    <div id="divUserGuide">
        <hr>
        <h3>User Guide</h3>
        <ol>
            <li>'Create Table' to generate a new table and also to clear existing data.</li>
            <li>Double-click on 'Volume' and 'Number' to change their values.</li>
            <li>After changing the year, press the 'Enter' or 'Return' key to update the year of subsequent rows.</li>
            <li>Check 'Check all' to select all issues.</li>
        </ol>


    </div>


</body>
</html>